body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  background-color: #4d8ae3;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-1 {
  flex: 1;
}
.col-auto {
  width: auto;
}
.col-w30 {
  width: 30px;
}
.h-center {
  display: inline-flex;
  justify-content: center;
}
.v-center {
  display: inline-flex;
  align-items: center;
}
.vh-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.h-right {
  display: inline-flex;
  justify-content: flex-end;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-30 {
  margin-top: 30px;
}