/**
 * 
 * style.css
 * @author - Mazeen
 * @date - 14/8/2023
 **/
.todo {
    background-color: #fff;
    width: 300px;
    padding: 15px;
    margin: 100px auto;
    border-radius: 5px;
    box-sizing: border-box;
}
h1 {
    font-size: 22px;
    color: #000;
    margin: 0 0 15px 0;
}
.text-field {
    border: 1px solid #dedddb;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 17px;
    padding: 8px 0 8px 10px;
}
.text-field::placeholder {
    color: #928d91;
}
.add-btn {
    background-color: #8d49ea;
    color: #fff;
    font-size: 30px;
    padding: 0px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tasks {
    background-color: #f2f2f2;
    color: #2b2d22;
    border-radius: 5px;
    padding: 8px 0px 8px 10px;
    width: 100%;
    box-sizing: border-box;
}
.checkbox {
    height: 20px;
    width: 20px;
    margin: 0;
}

.edit-btn {
    display: none;
    background-color: #8d49ea;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.placement {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.placement:hover .edit-btn {
    display: block;
    margin: 0;
}
.clear-btn {
    background-color: #8c49f0;
    color: #fff;
    border: none;
    padding: 5px 7px;
    border-radius: 3px;
    cursor: pointer;
}
.error {
    font-size: 13px;
    color: #c0392b;
    margin-top: 3px;
}
.strikethrough {
    text-decoration: line-through;
}