/**
 * 
 * style.css
 * @author - Mazeen
 * @date - 14/8/2023
 **/
.delete-btn {
    display: none;
    background-color: #e64d3d;
    color: #fff;
    font-size: 20px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.placement:hover .delete-btn {
    display: block;
    margin: 0;
}